header{
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto 0 auto ;
    width: 500px;
    height: 300px;
}

form{
    margin: auto;
    width: 400px;
    display: grid;
    background: #313335 ;
}
.form-control{
    margin: auto;
    width: 100px;
    background: white;
    border: solid 2px;
    border-color: #2b2b2b;
    margin-top: 20px;
}

.btn-primary{
    margin: auto;
    width: 100px;
    font-family: sans-serif;
    background: black;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}