html{
    height: 100%;
}

body{
    margin: 0 ;
    background-image: url("../images/brownmusicBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#menuHeader{
margin: 0;
    height:150px;
    width: auto;
    background: black;

}
#logo{
 width: 340px;
    height: auto;
    margin: auto;
    display: flex;
}
#signup{
    position: absolute;
    width: 75px;
    right: 75px;
    background: #313335;
    color: white;
    text-decoration: none;
    text-align: center;
}
#logout{
    position: absolute;
    right: 0;
background: #313335;
    width: 75px;
    color: white;
    text-decoration: none;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}
nav a{
    text-decoration: none;
    background-color: #2b2b2b;
    color: white;
    font-family: sans-serif;
    display: inline-flex;
    padding: 10px 30px;
    border-left: white 1px solid;
    cursor: pointer;
}

nav a:hover{
    color: white;
    background-color: black;
}
#menuHeaderMobile{
    display: none;
}
#menuItem1{
    border-left: unset;
}

footer{
    bottom: 0;
    width: 100%;
    margin-top: auto;

}
#footerContainer{
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    margin: auto;
    height: 50px;
}
#footerHeaders{
    color: white;
    font-family: sans-serif;
    column-count: 3;
    text-align: center;

}
