body{
    margin: 0 ;
    background-image: url("../images/brownmusicBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
margin: 0;
    height:150px;
    width: auto;
    background: black;

}
#logo{
 width: 340px;
    height: auto;
    margin: auto;
    display: flex;
}

#menuBar{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
}
.menuItem{
    background-color: #2b2b2b;
    color: white;
    font-family: sans-serif;
    display: inline-flex;
    padding: 10px 30px;
    border-left: white 1px solid;
}
.menuItem:hover{
    color: lightgrey;
    background-color: #313335;
}
#menuBox1{
    border-left: unset;
}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
}
#footerContainer{
    background-color: rgba(0,0,0,0.5);
    width: 500px;
    margin: auto;
    height: 50px;
}
#footerHeaders{
    color: white;
    font-family: sans-serif;
    column-count: 3;
    text-align: center;

}
