
#introContainer{
    background-color: rgba(0,0,0,0.5);
    margin: auto;
    width: 500px;
    height: auto;
    padding-top: 50px;

}
#intro{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
}
@media  screen and (max-width: 600px) {
    #introContainer{
        width: 100%;
        margin: unset;
        height: auto;
        margin-bottom: 20px;
    }
}
